option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "barcrawl.settings"
    PYTHONPATH: "/opt/python/current/app/barcrawl:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "barcrawl/wsgi.py"
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "barcrawl/static/"
