container_commands:
  01_collecstatic:
    command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "barcrawl.settings"
    PYTHONPATH: "/opt/python/current/app/barcrawl:$PYTHONPATH"
    ALLOWED_HOSTS: ".elasticbeanstalk.com"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "barcrawl/wsgi.py"
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "barcrawl/static/"
